@model envSeer.ViewModels.Environment.EnvironmentCreationViewModel
@section AdditionalScripts
{
    <script src="@Url.Content("~/Content/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/Custom Scripts/EnvironmentCreationAjax.js")"></script>
}

@{
    ViewBag.Title = "Environment Creation";
}

<div id="Page-Title">
    <div class="fl-left">
        <i class="fa fa-tachometer a-fw" aria-hidden="true"></i>&nbsp Environments<i class="fa fa-angle-right a-fw breadcrumb-spacer" aria-hidden="true"></i>Environment Creation
    </div>
</div>

<div id="Page-Content">
    <section>
        <div class="content-area edit-usr">
            <h3>Create new environment:</h3>
            <div class="form-container">
                @using (Html.BeginForm())
                {
                    <label for="envName">Display Name:</label>
                    @Html.TextBoxFor(m => m.environmentDetails.EnvironmentName, new { @id = "envName" })

                    <label for="isOnline">Is environment up & running?</label>
                    @Html.CheckBoxFor(m => m.environmentDetails.IsOnline, new { @id = "isOnline" })

                    <label for="monEnabled">Enable monitoring?</label>
                    @Html.CheckBoxFor(m => m.environmentDetails.MonitoringEnabled, new { @id = "monEnabled" })

                    <label for="monInterval">Monitoring Update Interval:</label>
                    @Html.DropDownListFor(m => m.environmentDetails.MonitoringUpdateInterval, Model.MonitoringIntervalOptions, new { @id = "monInterval" })

                    <div class="center-input form-val">
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.environmentDetails.EnvironmentName)
                        </div>
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.environmentDetails.IsOnline)
                        </div>
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.environmentDetails.MonitoringEnabled)
                        </div>
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.environmentDetails.MonitoringUpdateInterval)
                        </div>
                        <div id="dupe-env-msg" class="form-val-msg">
                            
                        </div>
                    </div>
                    <div class="form-footer">
                        <input type="submit" value="Create" class="pag-btn" />
                    </div>
                }
            </div>
        </div>

        <div id="form-success">

        </div>
    </section>
</div>

