@model Overseer.WebApp.ViewModels.Machine.MonitoredProcessAlertSettings

<div class="dyn-config" data-type="proc" data-config="@Model.ProcessName">
    <h4>Process '@Html.DisplayFor(m => m.ProcessName)' alert configuration:</h4>

    @Html.HiddenFor(m => m.ProcessName)
    
    <div class="system-info-flex">
        <div class="alert-config flex-container">
            <div class="alert-fields">
                <label>Working Set Alerts:</label>
                <label class="sub-label">Warning threshold (kbs):</label>
                @Html.EditorFor(m => m.WSWarnValue)
                <label class="sub-label">Alert threshold (kbs):</label>
                @Html.EditorFor(m => m.WSAlertValue)
            </div>
            <div class="alert-checkbox">
                @Html.CheckBoxFor(m => m.WorkingSetAlertsOn)
            </div>
        </div>
        <div class="alert-config flex-container">
            <div class="alert-fields">
                <label>Private Bytes Alerts:</label>
                <label class="sub-label">Warning threshold (kbs):</label>
                @Html.EditorFor(m => m.PBWarnValue)
                <label class="sub-label">Alert threshold (kbs):</label>
                @Html.EditorFor(m => m.PBAlertValue)
            </div>
            <div class="alert-checkbox">
                @Html.CheckBoxFor(m => m.PrivateBytesAlertsOn)
            </div>
        </div>
        <div class="alert-config flex-container">
            <div class="alert-fields">
                <label>Virtual Bytes Alerts:</label>
                <label class="sub-label">Warning threshold (kb):</label>
                @Html.TextBoxFor(m => m.VBWarnValue)
                <label class="sub-label">Alert threshold (kb):</label>
                @Html.TextBoxFor(m => m.VBAlertValue)
            </div>
            <div class="alert-checkbox">
                @Html.CheckBoxFor(m => m.VirtualBytesAlertsOn)
            </div>
        </div>
    </div>
    <div class="form-val">
        <div class="form-val-msg">
            @Html.ValidationMessageFor(m => m.WSWarnValue)
        </div>
        <div class="form-val-msg">
            @Html.ValidationMessageFor(m => m.WSAlertValue)
        </div>
        <div class="form-val-msg">
            @Html.ValidationMessageFor(m => m.PBWarnValue)
        </div>
        <div class="form-val-msg">
            @Html.ValidationMessageFor(m => m.PBAlertValue)
        </div>
        <div class="form-val-msg">
            @Html.ValidationMessageFor(m => m.VBWarnValue)
        </div>
        <div class="form-val-msg">
            @Html.ValidationMessageFor(m => m.VBAlertValue)
        </div>
    </div>
</div>