@model Overseer.WebApp.ViewModels.Alert._DropDownAlertViewModel

<div class="drop-down-header">
    Warnings: <span><text>@Model.DisplayedAlerts</text> / <text>@Model.TotalAlerts</text></span>
</div>
<ul>
    @foreach (var warning in Model.Alerts)
    {
        <li>
            <a href="@Url.Action("Machineseer", "Machine", new { MachineId = @warning.MachineId }, null)">
                <div class="severity">
                    <i class="fa fa-exclamation-circle"></i>
                </div>
                <div class="category">
                    <text>@warning.CategoryName</text>
                    <text>@warning.Source</text>
                </div>
                <div class="machine">
                    <text>@warning.MachineName (@warning.EnvironmentName)</text>
                </div>
            </a>
        </li>
    }
    <li>
        <a href="@Url.Action("AlertViewer", "Alert", new { initAlertType = "warnings" }, null)">View more warnings..</a>
    </li>
</ul>


