@model Overseer.WebApp.ViewModels.Machine._MonitoringSummaryViewModel

<section>
    <div id="PerfData" class="flex-container">
        <div id="CpuData" class="content-area perf-data">
            <h3>Cpu Usage: <span>(perf)</span></h3>
            <div class="chart-container" style="width: 100%;">
                <canvas id="CpuChart" height="180"></canvas>
            </div>
            <div class="perf-footer">
                <span>Current Usage: @(Model.PerformanceInfo.AvgCpuUtil)% </span>
                <span>@(Model.PerformanceInfo.TotalNumProcesses) Processes</span>
                <span>High util: @(Model.PerformanceInfo.HighCpuUtilIndicator)</span>
            </div>
        </div>
        <div id="MemData" class="content-area perf-data">
            <h3>Memory Usage: <span>(perf)</span></h3>
            <div class="chart-container" style="width: 100%;">
                <canvas id="MemChart" height="180"></canvas>
            </div>
            <div class="perf-footer">
                <span>Current Usage: @(Model.PerformanceInfo.AvgMemUtil)% </span>
                <span>High util: @(Model.PerformanceInfo.HighMemUtilIndicator)%</span>
            </div>
        </div>
    </div>

    <div class="content-area">
        <h3>Disk Monitoring</h3>
        <div class="content-inner drive-flex">
            @foreach (var drive in Model.DiskInfo.Drives)
            {
                <div class="drive-flex-ele">
                    <div class="drive-name">
                        @drive.Name
                    </div>
                    <div class="drive-total">
                        @drive.TotalSpace GB
                    </div>
                    <div style="width: auto" class="drive-meter-outer">
                        <div style="width: @((1 - (drive.FreeSpace / drive.TotalSpace))*100)%" class="drive-meter-inner">
                            <div class="drive-meter-tip">@drive.UsedSpace GB</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="content-area">
        <h3>Process Monitoring</h3>
        @if (Model.ProcessInfo.MonitoredProcesses != null)
        {
            foreach (var procGroup in Model.ProcessInfo.MonitoredProcesses)
            {
                <div class="content-accord">
                    <h4 class="accord-toggle">@procGroup.ProcessName</h4>
                    <div class="accord-content accord-content-hidden">
                        <div class="content-table proc-table">
                            <table class="seer-tbl" cellpadding="0" cellspacing="0">
                                <tr>
                                    <th>PID</th>
                                    <th>Status</th>
                                    <th>Start Time</th>
                                    <th>Cpu Time</th>
                                    <th>Thread Count</th>
                                    <th>Working Set</th>
                                    <th>Private Bytes</th>
                                    <th>Virtual Bytes</th>
                                </tr>
                                @if (Model.EventLogInfo.EventLogs != null)
                                {
                                    int rowCounter = 0;
                                    foreach (var proc in procGroup.Processes)
                                    {
                                        rowCounter++;
                                        <tr class='@((rowCounter % 2) == 0 ? "alt-row" : "")'>
                                            <td>@proc.PID</td>
                                            <td>@proc.Status</td>
                                            <td>@proc.StartTime</td>
                                            <td>@proc.CpuTime</td>
                                            <td>@proc.ThreadCount</td>
                                            <td>@(proc.WorkingSet/1024) kb</td>
                                            <td>@(proc.PrivateBytes/1024) kb</td>
                                            <td>@(proc.VirtualBytes/1024) kb</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="content-area">
        <h3>EventLog Monitoring</h3>
        <div class="content-table">
            <table class="seer-tbl" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Event Log</th>
                    <th>Exists</th>
                    <th>Friendly Name</th>
                    <th>Infos</th>
                    <th>Warnings</th>
                    <th>Errors</th>
                    <th>Total Events</th>
                </tr>
                @if (Model.EventLogInfo.EventLogs != null)
                {
                    int rowCounter = 0;
                    foreach (var log in Model.EventLogInfo.EventLogs)
                    {
                        rowCounter++;
                        <tr class='@((rowCounter % 2) == 0 ? "alt-row" : "")'>
                            <td>@log.EventLogName</td>
                            <td>@log.Exists</td>
                            <td>@log.FriendlyLogName</td>
                            <td>@log.NumInfos</td>
                            <td>@log.NumWarnings</td>
                            <td>@log.NumErrors</td>
                            <td>@log.TotalEvents</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                }
            </table>
        </div>

    </div>
    <div class="content-area">
        <h3>Services Monitoring</h3>
        <div class="content-table">
            <table class="seer-tbl" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Service Name</th>
                    <th>Exists</th>
                    <th>Friendly Name</th>
                    <th>Status</th>
                    <th>Start-up Type</th>
                </tr>
                @if (Model.ServiceInfo.Services != null)
                {
                    int rowCounter = 0;
                    foreach (var service in Model.ServiceInfo.Services)
                    {
                        rowCounter++;
                        <tr class='@((rowCounter % 2) == 0 ? "alt-row" : "")'>
                            <td>@service.ServiceName</td>
                            <td>@service.Exists</td>
                            <td>-</td>
                            <td>@service.Status</td>
                            <td>@service.StartupType</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</section>

<script>
    // Chart.js replacement here...    
    $(document).ready(function(){
        var labelData = @Model.PerformanceInfo.ReadingTimes;
        var cpuData = @Model.PerformanceInfo.CpuChartData;
        var memData = @Model.PerformanceInfo.MemChartData;

        var CpuChartContext = document.getElementById('CpuChart').getContext('2d');
        var CpuChart = new Chart(CpuChartContext, {
            type: 'line',
            data: {
                labels: labelData,
                datasets: [{
                    label: 'cpu',
                    data: cpuData,
                    backgroundColor: null,
                    borderColor: '#f39c12',
                    backgroundColor: "rgba(243, 156, 18, 0.1)",
                    pointRadius: 4,
                    pointBackgroundColor: '#f39c12',
                    pointHitRadius: 8
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: { 
                            display: true,
                            beginAtZero: true,
                            steps: 5,
                            max: 100
                        }
                    }]            
                },
                legend: {
                    display: false
                }
            }
        });

        var MemChartContext = document.getElementById('MemChart').getContext('2d');
        var MemChart = new Chart(MemChartContext, {
            type: 'line',
            data: {
                labels: labelData,
                datasets: [{
                    label: '% Commited Bytes in use',
                    data: memData,
                    backgroundColor: null,
                    borderColor: '#3498db',
                    backgroundColor: "rgba(52, 152, 219, 0.1)",
                    pointRadius: 4,
                    pointBackgroundColor: '#3498db',
                    pointHitRadius: 8
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: { 
                            display: true,
                            beginAtZero: true,
                            steps: 5,
                            max: 100
                        }
                    }]            
                },
                legend: {
                    display: false
                }
            }
        });
    });
</script>