@model Overseer.WebApp.ViewModels.Machine._MonitoringSummaryViewModel

<section>
        <div class="content-area">
            <h3>Performance Monitoring</h3>
            <ul>
                <li>Total processes running: @Model.PerformanceInfo.TotalNumProcesses</li>
                <li>Avg Cpu Util: @Model.PerformanceInfo.AvgCpuUtil High Cpu Util: @Model.PerformanceInfo.HighCpuUtilIndicator</li>
                <li>Avg Mem Util: @Model.PerformanceInfo.AvgMemUtil High Mem Util: @Model.PerformanceInfo.HighMemUtilIndicator</li>
            </ul>
        </div>
        <div class="content-area">
            <h3>Disk Monitoring</h3>
            @foreach (var drive in Model.DiskInfo.Drives)
            {
                <h4>@drive.Name (@drive.VolumeLabel)</h4>
                <ul>
                    <li>Drive type: @drive.DriveType</li>
                    <li>Drive format: @drive.DriveFormat</li>
                    <li>Total space: @drive.TotalSpace</li>
                    <li>Free space: @drive.FreeSpace</li>
                </ul>
            }
        </div>
        <div class="content-area">
            <h3>Process Monitoring</h3>
            @if (Model.ProcessInfo.MonitoredProcesses != null)
            {
                foreach (var procGroup in Model.ProcessInfo.MonitoredProcesses)
                {
                    <h4>@procGroup.ProcessName</h4>
                    <ul>
                        @foreach (var proc in procGroup.Processes)
                        {
                            <li>
                                <ul>
                                    <li>PID: @proc.PID</li>
                                    <li>Status: @proc.Status</li>
                                    <li>StartTime: @proc.StartTime</li>
                                    <li>CpuTime: @proc.CpuTime</li>
                                    <li>ThreadCount: @proc.ThreadCount</li>
                                    <li>WorkingSet: (@proc.WorkingSet/1024) kb</li>
                                    <li>Private Bytes: (@proc.PrivateBytes/1024) kb</li>
                                    <li>Virtual Bytes: (@proc.VirtualBytes/1024) kb</li>
                                </ul>
                            </li>
                        }
                    </ul>
                }
            }
        </div>
        <div class="content-area">
            <h3>EventLog Monitoring</h3>
            @if (Model.EventLogInfo.EventLogs != null)
            {
                foreach (var log in Model.EventLogInfo.EventLogs)
                {
                    <h4>@log.EventLogName</h4>
                    <ul>
                        <li>@log.FriendlyLogName</li>
                        <li>@log.Exists</li>
                        <li>@log.TotalEvents</li>
                        <li>@log.NumInfos</li>
                        <li>@log.NumWarnings</li>
                        <li>@log.NumErrors</li>
                    </ul>
                }
            }
        </div>
        <div class="content-area">
            <h3>Services Monitoring</h3>
            @if (Model.ServiceInfo.Services != null)
            {
                foreach (var service in Model.ServiceInfo.Services)
                {
                    <h4>@service.ServiceName</h4>
                    <ul>
                        <li>@service.Exists</li>
                        <li>@service.Status</li>
                        <li>@service.StartupType</li>
                    </ul>
                }
            }
        </div>
</section>
<script>
    // Google Charts code here!
</script>