@model Overseer.WebApp.ViewModels.Machine._MonitoringSystemInfoViewModel

<div class="info-network">
    <h4>Network</h4>
    <div class="system-info-flex">
        <div><span>Machine Name:</span> @Model.MachineName</div>
        <div><span>IPV4 Address:</span> @Model.IPAddress</div>
    </div>
</div>
<div class="info-OS">
    <h4>OS</h4>
    <div class="system-info-flex">
        <div><span>OS:</span> @Model.OSNameFriendly</div>
        <div><span>Version:</span> @Model.OSName</div>
        <div><span>Bitness:</span> @Model.OSBitness</div>
    </div>
</div>
<div class="info-hardware">
    <h4>Hardware</h4>
    <div class="system-info-flex">
        <div><span>Processor Cores:</span> @Model.ProcessorCount</div>
        <div><span>Total Memory (GBs):</span> @Model.TotalMem</div>
    </div>
</div>
