@model Overseer.WebApp.ViewModels.Machine.MachineseerViewModel

@section AdditionalScripts 
{
    @Scripts.Render("~/Machineseer/Scripts")
}

@{
    ViewBag.Title = "Machineseer";
}

<div id="Page-Title">
    <div class="fl-left">
        <i class="fa fa-tachometer a-fw" aria-hidden="true"></i>&nbsp Environments<i class="fa fa-angle-right a-fw breadcrumb-spacer" aria-hidden="true"></i>@Model.MachineDetails.DisplayName
    </div>
</div>

<div id="Machineseer" class="page-content" data-baseurl="@Model.BaseAppUrl" data-machineid="@Model.MachineId" data-refreshrate="@Model.RefreshInterval">
    <div class="content-area content-accord">
        <h3>@Model.MachineDetails.DisplayName 
            <span class="latest-update">Latest Monitoring Update: @Model.LatestMonitoringUpdate</span>
            <span class="icon machine-info-i accord-toggle"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
            <a href="@Url.Action("MachineConfiguration", "Machine", new { machineId = @Model.MachineId }, null)"><span class="icon machine-config-i"><i class="fa fa-cog" aria-hidden="true"></i></span> </a>
        </h3>
        <section class="system-info accord-content accord-content-hidden">
            <div class="info-basic">
                <h4>Basic</h4>
                <div class="system-info-flex">
                    <div><span>Display Name:</span> @Model.MachineDetails.DisplayName</div>
                    <div><span>GUID:</span> @Model.MachineId</div>
                    <div><span>Environment:</span> @Model.MachineDetails.ParentEnvironmentName</div>
                </div>
            </div>
            @if (!Model.MonitoringEnabled)
            {
                <div class="info-network">
                    <h4>Network</h4>
                    <div class="system-info-flex">
                        <div>Machine Name: @Model.MachineDetails.MachineName</div>
                        <div>IPV4 Address: @Model.MachineDetails.IpAddress</div>
                        <div>FQDN: @Model.MachineDetails.FQDN</div>
                    </div>
                </div>
                <div class="info-OS">
                    <h4>OS</h4>
                    <div class="system-info-flex">
                        <div>OS: @Model.MachineDetails.OperatingSysName</div>
                        <div>OS Bitness: @Model.MachineDetails.OperatingSysBitness</div>
                    </div>
                </div>
                <div class="info-hardware">
                    <h4>Hardware</h4>
                    <div class="system-info-flex">
                        <div>Processor Cores: @Model.MachineDetails.NumProcessors</div>
                        <div>Total Memory (GBs): @Model.MachineDetails.TotalMemGbs</div>
                    </div>
                </div>
            }
            else
            {
                @Html.Action("_MonitoringSystemInfo", "Machine", new { machineId = Model.MachineId })
            }
        </section>
    </div>
    <div id="MonitoringData">
        @if (Model.MonitoringEnabled)
        {
            @Html.Action("_MonitoringSummary", "Machine", new { machineId = Model.MachineId })
        }
    </div>
</div>

