@model Overseer.WebApp.ViewModels.Machine.MachineCreationViewModel

@section AdditionalScripts
{
    @Scripts.Render("~/Environment/Scripts")
}

@{
    ViewBag.Title = "Machine Creation";
}

<div id="Page-Title">
    <div class="fl-left">
        <i class="fa fa-tachometer a-fw" aria-hidden="true"></i>&nbsp Environments<i class="fa fa-angle-right a-fw breadcrumb-spacer" aria-hidden="true"></i>Machine Creation
    </div>
</div>

<div id="MachineCreation" class="page-content">
    <section>
        @using (Html.BeginForm("MachineCreation", "Machine", FormMethod.Post, new { data_ajax = "MachineCreate", id = "EnvironmentAjaxForm" }))
        {
        <div class="content-area">
            <h3>Create a new machine:</h3>
            <div class="system-info">
                    <div class="info-basic">
                        <h4>Basic</h4>
                        <div class="system-info-flex">
                            <div>
                                <label for="parentEnv">Add machine to environment:</label>
                                @Html.DropDownListFor(m => m.ParentEnvironmentId, Model.ParentEnvironmentOptions, new { @id = "parentEnv" })
                            </div>
                            <div>
                                <label for="displayName">Display Name:</label>
                                @Html.TextBoxFor(m => m.DisplayName, new { @id = "displayName" })
                            </div>
                            <div>
                                <label for="machineName">Machine Name:</label>
                                @Html.TextBoxFor(m => m.MachineName, new { @id = "machineName" })
                            </div>
                        </div>
                    </div>
                    <div class="info-network">
                        <h4>Network</h4>
                        <div class="system-info-flex">
                            <div>
                                <label for="IPV4">IPV4 Address:</label>
                                @Html.TextBoxFor(m => m.IpAddress, new { @id = "IPV4" })
                            </div>
                            <div>
                                <label for="FQDN">Fully Qualified Domain Name:</label>
                                @Html.TextBoxFor(m => m.FQDN, new { @id = "FQDN" })
                            </div>
                        </div>
                    </div>
                    <div class="info-OS">
                        <h4>OS</h4>
                        <div class="system-info-flex">
                            <div>
                                <label for="operatingSys">Operating System:</label>
                                @Html.DropDownListFor(m => m.OperatingSystemId, Model.OperatingSystemOptions, new { @id = "operatingSys" })
                            </div>
                        </div>
                    </div>
                    <div class="info-hardware">
                        <h4>Hardware</h4>
                        <div class="system-info-flex">
                            <div>
                                <label for="processorCores">ProcessorCores:</label>
                                @Html.EditorFor(m => m.NumProcessors, new { @id = "processorCores" })
                            </div>
                            <div>
                                <label for="totalMem">Total RAM:</label>
                                @Html.EditorFor(m => m.TotalMemGbs, new { @id = "totalMem" })
                            </div>
                        </div>
                    </div>
                    <div class="center-input form-val">
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.ParentEnvironmentId)
                        </div>
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.DisplayName)
                        </div>
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.IpAddress)
                        </div>
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.FQDN)
                        </div>
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.OperatingSystemId)
                        </div>
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.NumProcessors)
                        </div>
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.TotalMemGbs)
                        </div>
                        <div id="dupe-machine-msg" class="form-val-msg">

                        </div>
                    </div>
            </div>
        </div>
        <div class="form-footer">
            <div id="form-response" class="form-response">
                <div id="form-failure" class="form-failure"></div>
                <div id="form-success" class="form-success"></div>
            </div>
            <input type="submit" value="Save Changes" class="pag-btn" data-baseurl="@Model.SidebarRefreshUrl" />
        </div>
        }
    </section>
</div>

