@model Overseer.WebApp.ViewModels.Machine.MachineConfigurationViewModel
@section AdditionalScripts
{
    @Scripts.Render("~/Environment/Scripts", "~/Environment/MachineConfiguration/Scripts")
}

@{
    ViewBag.Title = "Machine Configuration";
}

<div id="Page-Title">
    <div class="fl-left">
        <i class="fa fa-tachometer a-fw" aria-hidden="true"></i>&nbsp Environments<i class="fa fa-angle-right a-fw breadcrumb-spacer" aria-hidden="true"></i>Machine Configuration
    </div>
</div>

<div id="MachineConfig" class="page-content" data-baseurl="@Model.BaseAppUrl" data-machineid="@Model.MachineId">
    <div class="content-area">
        <h3>
            @Model.DisplayName
            <a href="@Url.Action("Machineseer", "Machine", new { machineId = @Model.MachineId }, null)"><span class="icon config-i"><i class="fa fa-area-chart" aria-hidden="true"></i></span> </a>
        </h3>
    </div>
    
    <section>
        @using (Html.BeginForm("MachineConfiguration", "Machine", FormMethod.Post, new { data_ajax = "MachineConfig", id = "EnvironmentAjaxForm" }))
        {
        <div class="content-area">
            <h3>Reconfigure Machine:
                <span class="fl-right initial-del"><i class="fa fa-trash" aria-hidden="true"></i></span>
                <span class="fl-right confirm-del" data-deltype="Machine">Are you sure you wish to delete this machine? <i class="fa fa-check del-confirmed" aria-hidden="true"></i> <i class="fa fa-close del-cancel" aria-hidden="true"></i></span>
                <span id="DeleteResponse" class="fl-right">
                    <span class="del-success"></span>
                    <span class="del-failure"></span>
                </span>
             </h3>
            <div class="system-info">
                    <input type="hidden" name="MachineId" value="@Model.MachineId" />

                    <div class="info-basic">
                        <h4>Basic <span>(manual)</span>:</h4>
                        <div class="system-info-flex">
                            <div>
                                <label for="parentEnv">Environment:</label>
                                @Html.DropDownListFor(m => m.ParentEnvironmentId, Model.ParentEnvironmentOptions, new { @id = "parentEnv" })
                            </div>
                            <div>
                                <label for="displayName">Display Name:</label>
                                @Html.TextBoxFor(m => m.DisplayName, new { @id = "displayName" })
                            </div>
                            <div>
                                <label for="machineName">Machine Name:</label>
                                @Html.TextBoxFor(m => m.MachineName, new { @id = "machineName" })
                            </div>
                        </div>
                        <div class="form-val">
                            <div class="form-val-msg">
                                @Html.ValidationMessageFor(m => m.ParentEnvironmentId)
                            </div>
                            <div class="form-val-msg">
                                @Html.ValidationMessageFor(m => m.DisplayName)
                            </div>
                            <div class="form-val-msg">
                                @Html.ValidationMessageFor(m => m.MachineName)
                            </div>
                        </div>
                    </div>

                    <div class="info-network">
                        <h4>Network <span>(manual)</span>:</h4>
                        <div class="system-info-flex">
                            <div>
                                <label for="IPV4">IPV4 Address:</label>
                                @Html.TextBoxFor(m => m.IpAddress, new { @id = "IPV4" })
                            </div>
                            <div>
                                <label for="FQDN">FQDN:</label>
                                @Html.TextBoxFor(m => m.FQDN, new { @id = "FQDN" })
                            </div>
                        </div>
                        <div class="form-val">
                            <div class="form-val-msg">
                                @Html.ValidationMessageFor(m => m.IpAddress)
                            </div>
                            <div class="form-val-msg">
                                @Html.ValidationMessageFor(m => m.FQDN)
                            </div>
                        </div>
                    </div>

                    <div class="info-OS">
                        <h4>OS <span>(manual)</span>:</h4>
                        <div class="system-info-flex">
                            <div>
                                <label for="operatingSys">Operating System:</label>
                                @Html.DropDownListFor(m => m.OperatingSystemId, Model.OperatingSystemOptions, new { @id = "operatingSys" })
                            </div>
                        </div>
                        <div class="form-val">
                            <div class="form-val-msg">
                                @Html.ValidationMessageFor(m => m.OperatingSystemId)
                            </div>
                        </div>
                    </div>

                    <div class="info-hardware">
                        <h4>Hardware <span>(manual)</span>:</h4>
                        <div class="system-info-flex">
                            <div>
                                <label for="processorCores">ProcessorCores:</label>
                                @Html.EditorFor(m => m.NumProcessors, new { @id = "processorCores" })
                            </div>
                            <div>
                                <label for="totalMem">Total RAM:</label>
                                @Html.EditorFor(m => m.TotalMemGbs, new { @id = "totalMem" })
                            </div>
                        </div>
                        <div class="form-val">
                            <div class="form-val-msg">
                                @Html.ValidationMessageFor(m => m.NumProcessors)
                            </div>
                            <div class="form-val-msg">
                                @Html.ValidationMessageFor(m => m.TotalMemGbs)
                            </div>
                        </div>
                    </div>

                    <div class="stat-mon-settings content-accord accord-single-use">
                        <h4 class="accord-toggle">Static Monioring Settings</h4>
                        <div class="accord-content accord-content-hidden">
                            <div>
                                <h5>Cpu utilisation alerts:</h5>
                                <div class="alerts-config flex-container">
                                    <div class="alert-config flex-container">
                                        <div class="alert-fields">
                                            <label>Avg CPU util alerts:</label>
                                            <label class="sub-label">Warning threshold (%):</label>
                                            @Html.EditorFor(m => m.AvgCpuUtilWarnValue, true)
                                            <label class="sub-label">Alert threshold (%):</label>
                                            @Html.EditorFor(m => m.AvgCpuUtilAlertValue, true)
                                        </div>
                                        <div class="alert-checkbox">
                                            @Html.CheckBoxFor(m => m.AvgCpuUtilAlertsOn, true)
                                        </div>
                                    </div>
                                    <div class="alert-config flex-container">
                                        <div class="alert-fields">
                                            <label>High CPU readings alerts:</label>
                                            <label class="sub-label">Warning threshold (count):</label>
                                            @Html.EditorFor(m => m.HighCpuUtilWarnValue, true)
                                            <label class="sub-label">Alert threshold (count):</label>
                                            @Html.EditorFor(m => m.HighCpuUtilAlertValue, true)
                                        </div>
                                        <div class="alert-checkbox">
                                            @Html.CheckBoxFor(m => m.HighCpuUtilAlertsOn, true)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h5>Mem utilisation alerts:</h5>
                                <div class="alerts-config flex-container">
                                    <div class="alert-config flex-container">
                                        <div class="alert-fields">
                                            <label>Avg MEM util alerts:</label>
                                            <label class="sub-label">Warning threshold (%):</label>
                                            @Html.EditorFor(m => m.AvgMemUtilWarnValue, true)
                                            <label class="sub-label">Alert threshold (%):</label>
                                            @Html.EditorFor(m => m.AvgMemUtilAlertValue, true)
                                        </div>
                                        <div class="alert-checkbox">
                                            @Html.CheckBoxFor(m => m.AvgMemUtilAlertsOn, true)
                                        </div>
                                    </div>
                                    <div class="alert-config flex-container">
                                        <div class="alert-fields">
                                            <label>High MEM readings alerts:</label>
                                            <label class="sub-label">Warning threshold (count):</label>
                                            @Html.EditorFor(m => m.HighMemUtilWarnValue, true)
                                            <label class="sub-label">Alert threshold (count):</label>
                                            @Html.EditorFor(m => m.HighMemUtilAlertValue, true)
                                        </div>
                                        <div class="alert-checkbox">
                                            @Html.CheckBoxFor(m => m.HighMemUtilAlertsOn, true)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h5>Disk usage alerts:</h5>
                                <div class="alerts-config flex-container">
                                    <div class="alert-config flex-container">
                                        <div class="alert-fields">
                                            <label>Used disk space alerts:</label>
                                            <label class="sub-label">Warning threshold (% used space):</label>
                                            @Html.EditorFor(m => m.UsedSpaceWarnValue, true)
                                            <label class="sub-label">Alert threshold (% used space):</label>
                                            @Html.EditorFor(m => m.UsedSpaceAlertValue, true)
                                        </div>
                                        <div class="alert-checkbox">
                                            @Html.CheckBoxFor(m => m.UsedSpaceAlertsOn, true)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dyn-mon-settings content-accord accord-single-use">
                        <h4 class="accord-toggle">Dynamic Monitoring Settings:</h4>
                        <div class="accord-content accord-content-hidden">
                            <div class="system-info-flex">
                                <div id="monitoredProcesses" class="dynamic-mon-list flex-container">
                                    <div class="list-edit-fields">
                                        <label for="monitoredProcList">Processes:</label>
                                        <input type="text" class="mon-list-input" />
                                        @Html.ListBoxFor(m => m.UpdatedMonitoredProcesses, Model.CurrentMonitoredProcesses, new { @id = "monitoredProcList", @class = "mon-list-box" })
                                    </div>
                                    <div class="list-edit-btns">
                                        <button type="button" class="mon-list-add"><i class="fa fa-plus a-fw" aria-hidden="true"></i></button>
                                        <button type="button" class="mon-list-remove"><i class="fa fa-close a-fw" aria-hidden="true"></i></button>
                                    </div>
                                </div>

                                <div id="monitoredEventLogs" class="dynamic-mon-list flex-container">
                                    <div class="list-edit-fields">
                                        <label for="monitoredEventLogList">EventLogs:</label>
                                        <input type="text" class="mon-list-input" />
                                        @Html.ListBoxFor(m => m.UpdatedMonitoredEventLogs, Model.CurrentMonitoredEventLogs, new { @id = "monitoredEventLogList", @class = "mon-list-box" })
                                    </div>
                                    <div class="list-edit-btns">
                                        <button type="button" class="mon-list-add"><i class="fa fa-plus a-fw" aria-hidden="true"></i></button>
                                        <button type="button" class="mon-list-remove"><i class="fa fa-close a-fw" aria-hidden="true"></i></button>
                                    </div>
                                </div>

                                <div id="monitoredServices" class="dynamic-mon-list flex-container">
                                    <div class="list-edit-fields">
                                        <label for="monitoredServiceList">Services:</label>
                                        <input type="text" class="mon-list-input" />
                                        @Html.ListBoxFor(m => m.UpdatedMonitoredServices, Model.CurrentMonitoredServices, new { @id = "monitoredServiceList", @class = "mon-list-box" })
                                    </div>
                                    <div class="list-edit-btns">
                                        <button type="button" class="mon-list-add"><i class="fa fa-plus a-fw" aria-hidden="true"></i></button>
                                        <button type="button" class="mon-list-remove"><i class="fa fa-close a-fw" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div id="OpenDynamicAlertsConfig">Edit alerts...</div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="form-footer">
            <div id="form-response" class="form-response">
                <div id="form-failure" class="form-failure"></div>
                <div id="form-success" class="form-success"></div>
            </div>
            <input type="submit" value="Save Changes" class="pag-btn" data-baseurl="@Model.BaseAppUrl" />
        </div>
        }
        <div id="DynamicAlertsConfig"></div>
    </section>
</div>