@model Overseer.WebApp.ViewModels.UserProfile.ProfileViewerViewModel

@{
    ViewBag.Title = "ProfileViewer";
}

<div id="Page-Title">
    <div class="fl-left">
        <i class="fa fa-tachometer a-fw" aria-hidden="true"></i>
        &nbsp Profile
        <i class="fa fa-angle-right a-fw breadcrumb-spacer" aria-hidden="true"></i>
        @Model.UserName
    </div>
</div>

<div id="ProfileViewer" class="page-content">
    <div class="content-area">
        <h3>
            @(Model.FirstName + " " + Model.LastName)

            @if (Model.AllowEdit)
            {
                <a href="@Url.Action("ProfileEditor", "UserProfile", new { userId = ViewBag.SessionUserId }, null)" class="edit-icon"><span class="icon edit-i"><i class="fa fa-pencil" aria-hidden="true"></i></span> </a>
            }
        </h3>

        <section class="user-info">
            <div class="user-basic">
                <h4>Basic Info</h4>
                <div class="user-info-flex">
                    <div><span>First Name:</span> @Model.FirstName</div>
                    <div><span>Last Name:</span> @Model.LastName</div>
                    <div><span>Email Address:</span> @Model.EmailAddress</div>
                </div>
            </div>
            <div class="user-account">
                <h4>Account Info</h4>
                <div class="user-info-flex">
                    <div><span>Username:</span> @Model.UserName</div>
                    <div><span>Account Role:</span> @Model.Role</div>
                </div>
            </div>
        </section>
    </div>
    @if ((Model.Role == "Administrator" || Model.Role == "QA") && Model.CreatedEnvironments.Count > 0)
    {
        <div class="content-area">
            <h3>
                @(Model.FirstName + " " + Model.LastName + "'s Environments:")
            </h3>
            <div class="options-box flex-container">
                @foreach (var environment in Model.CreatedEnvironments)
                {
                    <div class="option-link user-env-info">
                        <a href="@Url.Action("Environmentseer", "Environment", new { environmentId = @environment.EnvironmentId }, null)">
                            <div>
                                <h5>@environment.EnvironmentName <span>(@environment.Status)</span></h5>
                                <div>
                                    <div class="machine-count @if (environment.Status == "Online") { <text>machine-count-online</text> } ">
                                        @environment.MachineCount
                                    </div>
                                    <span class="machine-label">machines</span>
                                </div> 
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    }
</div>



