<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>envSeer</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Custom/Styles")
</head>
<body>
    <!-- Header -->
    <header id="Dashboard-Header" class="main-header">
        <div class="header-content">
            <div class="header-left">
                <div id="site-title">
                    envenvSeer
                </div>
                <div id="toggle-nav">
                    <label for="Nav-Toggle"><i class="fa fa-bars"></i></label>
                    <input type="checkbox" id="Nav-Toggle">
                </div>
            </div>
            <div class="header-right">
                <div id="User-Area">
                    <input type="checkbox" id="User-Area-Toggle">
                    <label for="User-Area-Toggle"><i class="fa fa-user"></i> @Html.Encode(User.Identity.Name) </label>
                    <ul>
                        <li>Profile</li>
                        <li>@Html.ActionLink("Sign Out", "LogOut", "UserAccount")</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- Sidebar Nav -->
    <nav id="Dashboard-Nav">
        <ul>
            <li><div><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp @Html.ActionLink("Home", "Index", "Home")</div></li>
            <li>
                <input type="checkbox" id="Sub-Nav-Toggle-Env" class="sub-nav-toggle">
                <label for="Sub-Nav-Toggle-Env"><div><i class="fa fa-dashboard fa-fw" aria-hidden="true"></i>&nbsp Environments</div></label>
                <ul class="nav-sub-menu">
                    <li>Monitor</li>
                    <li>Edit</li>
                </ul>
            </li>
            <li><div><i class="fa fa-area-chart fa-fw" aria-hidden="true"></i>&nbsp Analyse</div></li>
            <li><div><i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp Road Mapping</div></li>
            <li><div><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp Discover</div></li>
            <li><div><i class="fa fa-briefcase fa-fw" aria-hidden="true"></i>&nbsp Tool Repo</div></li>
            <li><div><i class="fa fa-cogs fa-fw" aria-hidden="true"></i>&nbsp @Html.ActionLink("Admin", "Index", "Admin")</div></li>
            <!-- This more complex admin option will be implemented later.
            <li>
                <input type="checkbox" id="Sub-Nav-Toggle-Admin" class="sub-nav-toggle">
                <label for="Sub-Nav-Toggle-Admin"><div><i class="fa fa-cogs a-fw" aria-hidden="true"></i>&nbsp Admin</div></label>
                <ul class="nav-sub-menu">
                    <li>Site</li>
                    <li>Users</li>
                </ul>
            </li>
            -->
        </ul>
    </nav>

    <!-- Scrollable Content -->
    <main id="Main-Content">

        <div id="Page-Content">
            <section>
                @RenderBody()
            </section>
        </div>

        <!--<footer>
            Copyright 2016 - envSeer Dashboard Template
        </footer>-->
    </main>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Custom/Scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
