@model Overseer.WebApp.ViewModels.Admin.ConfirmUserDeletionViewModel

@{
    ViewBag.Title = "Delete User";
}
<div id="Page-Title">
    <div class="fl-left">
        <i class="fa fa-cogs a-fw" aria-hidden="true"></i>&nbsp Admin Actions<i class="fa fa-angle-right a-fw breadcrumb-spacer" aria-hidden="true"></i>Users<i class="fa fa-angle-right a-fw breadcrumb-spacer" aria-hidden="true"></i>Delete
    </div>
</div>
<div id="Page-Content">
    <section>
        <div class="content-area del-usr">
            @if (Model.Exists)
            {
                <h3>Delete User:</h3>
                <table class="seer-tbl">
                    <tr>
                        <th>@Model.userToDelete.UserName</th>
                    </tr>
                    <tr>
                        <td>@Model.userToDelete.FullName</td>
                    </tr>
                    <tr class="alt-row">
                        <td>@Model.userToDelete.Email</td>
                    </tr>
                    <tr>
                        <td>@Model.userToDelete.UserRole</td>
                    </tr>
                </table>
                <div class="button-footer">
                    <button type="button" class="pag-btn fl-left" onclick="location.href='@Url.Action("Users", "Admin")'">
                        Back
                    </button>
                    @using (Html.BeginForm("DeleteUser", "Admin"))
                {
                        <input type="hidden" name="UserId" value="@Model.userToDelete.UserId" />
                        <button type="submit" class="pag-btn fl-right">
                            Delete
                        </button>
                    }
                </div>
            }
            else
            {
                <h3>Requested user not found!</h3>
                <div class="button-footer">
                    <button type="button" class="pag-btn fl-left" onclick="location.href='@Url.Action("Users", "Admin")'">
                        Back
                    </button>
                </div>

            }
        </div>
    </section>
</div>

