@model Overseer.WebApp.ViewModels.Environment.EnvironmentCreationViewModel
@section AdditionalScripts
{
    @Scripts.Render("~/Environment/Scripts")
}

@{
    ViewBag.Title = "Environment Creation";
}

<div id="Page-Title">
    <div class="fl-left">
        <i class="fa fa-tachometer a-fw" aria-hidden="true"></i>&nbsp Environments<i class="fa fa-angle-right a-fw breadcrumb-spacer" aria-hidden="true"></i>Environment Creation
    </div>
</div>

<div id="EnvironmentCreation" class="page-content">
    <section>
        @using (Html.BeginForm("EnvironmentCreation", "Environment", FormMethod.Post, new { data_ajax = "EnvCreate", id = "EnvironmentAjaxForm" }))
        {
        <div class="content-area">
            <h3>Create new environment:</h3>
            <div class="system-info">
                <div class="info-basic">
                    <h4>Basic</h4>
                    <div class="system-info-flex">
                        <div>
                            <label for="envName">Display Name:</label>
                            @Html.TextBoxFor(m => m.EnvironmentName, new { @id = "envName" })
                        </div>
                        <div>
                            <label for="downTimeCat">Discoverability:</label>
                            @Html.DropDownListFor(m => m.Discoverability, Model.DiscoverabilityOptions)
                        </div>
                    </div>
                </div>

                <div class="info-status">
                    <h4>Status</h4>
                    <div class="tf-container">
                        <div class="system-info-flex">
                            <div class="chkbox-pair">
                                <label for="envStatus">Environment Status:</label>
                                @Html.CheckBoxFor(m => m.EnvironmentStatus, new { @id = "envStatus", @class = "tf-checkbox" })
                            </div>

                            <div>
                                <label for="downTimeCat">Reason for Downtime:</label>
                                @Html.DropDownListFor(m => m.DownTimeCategory, Model.DownTimeCategoryOptions, new { @id = "downTimeCat", @class = "tf-inverse-target" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-val">
                <div class="form-val-msg">
                    @Html.ValidationMessageFor(m => m.EnvironmentName)
                </div>
                <div class="form-val-msg">
                    @Html.ValidationMessageFor(m => m.Discoverability)
                </div>
                <div class="form-val-msg">
                    @Html.ValidationMessageFor(m => m.EnvironmentStatus)
                </div>
                <div class="form-val-msg">
                    @Html.ValidationMessageFor(m => m.DownTimeCategory)
                </div>
                <div id="dupe-env-msg" class="form-val-msg">

                </div>
            </div>
        </div>
        <div class="form-footer">
            <div id="form-response" class="form-response">
                <div id="form-failure" class="form-failure"></div>
                <div id="form-success" class="form-success"></div>
            </div>
            <input type="submit" value="Create" class="pag-btn" data-baseurl="@Model.SidebarRefreshUrl" />
        </div>
        }
    </section>
</div>

