@model Overseer.WebApp.ViewModels.Environment.MachineCreationViewModel
@section AdditionalScripts
{
    @Scripts.Render("~/Environment/Scripts")
}

@{
    ViewBag.Title = "Machine Creation";
}

<div id="Page-Title">
    <div class="fl-left">
        <i class="fa fa-tachometer a-fw" aria-hidden="true"></i>&nbsp Environments<i class="fa fa-angle-right a-fw breadcrumb-spacer" aria-hidden="true"></i>Machine Creation
    </div>
</div>

<div id="Page-Content">
    <section>
        <div class="content-area edit-usr">
            <h3>Create new machine:</h3>
            <div class="form-container">
                @using (Html.BeginForm("MachineCreation", "Environment", FormMethod.Post, new { data_ajax = "MachineCreate" }))
                {
                    <label for="parentEnv">Add machine to environment:</label>
                    @Html.DropDownListFor(m => m.ParentEnvironmentId, Model.ParentEnvironmentOptions, new { @id = "parentEnv" })

                    <label for="displayName">Display Name:</label>
                    @Html.TextBoxFor(m => m.DisplayName, new { @id = "displayName" })

                    <label for="machineName">Machine Name:</label>
                    @Html.TextBoxFor(m => m.MachineName, new { @id = "machineName" })

                    <label for="IPV4">IPV4 Address:</label>
                    @Html.TextBoxFor(m => m.IpAddress, new { @id = "IPV4" })

                    <label for="FQDN">Fully Qualified Domain Name:</label>
                    @Html.TextBoxFor(m => m.FQDN, new { @id = "FQDN" })

                    <label for="operatingSys">Operating System:</label>
                    @Html.DropDownListFor(m => m.OperatingSystemId, Model.OperatingSystemOptions, new { @id = "operatingSys" })

                    <label for="processorCores">ProcessorCores:</label>
                     @Html.EditorFor(m => m.NumProcessors, new { @id = "processorCores" })

                    <label for="totalMem">Total RAM:</label>
                    @Html.EditorFor(m => m.TotalMemGbs, new { @id = "totalMem" })

                    <div class="center-input form-val">
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.ParentEnvironmentId)
                        </div>
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.DisplayName)
                        </div>
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.IpAddress)
                        </div>
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.FQDN)
                        </div>
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.OperatingSystemId)
                        </div>
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.NumProcessors)
                        </div>
                        <div class="form-val-msg">
                            @Html.ValidationMessageFor(m => m.TotalMemGbs)
                        </div>
                        <div id="dupe-machine-msg" class="form-val-msg">

                        </div>
                    </div>
                    <div class="form-footer">
                        <input type="submit" value="Create" class="pag-btn" />
                    </div>
                }
            </div>
        </div>
        <div id="form-success">

        </div>
    </section>
</div>

