@model Overseer.WebApp.ViewModels.Navigation._SidebarNavViewModel

<ul>
    <li @if (Model.ActiveController == "Home") { <text>class="nav-selected"</text> }><div><span><i class="fa fa-home fa-fw" aria-hidden="true"></i></span>&nbsp @Html.ActionLink("Home", "Index", "Home")</div></li>
    
    @if (Model.UserRole == "Administrator" || Model.UserRole == "QA")
    {
        <li id="Environments-Menu-Item">
            <div class="menu-drop-down @if (Model.ActiveController == "Environment" || Model.ActiveController == "Machine" || Model.ActiveController == "Overview") { <text>nav-selected</text> }"><span><i class="fa fa-dashboard fa-fw" aria-hidden="true"></i></span>&nbsp Environments</div>
            <ul class="nav-sub-menu @if (Model.ActiveController == "Environment" || Model.ActiveController == "Machine" || Model.ActiveController == "Overview") { <text>nav-sub-menu-open</text> }">
                @Html.Action("_EnvironmentNavigation", "Navigation")
            </ul>
        </li>

        <li @if (Model.ActiveController == "Alert") { <text> class="nav-selected" </text>   }><div><span><i class="fa fa-bell fa-fw" aria-hidden="true"></i></span>&nbsp @Html.ActionLink("Alerts", "AlertViewer", "Alert", new { initAlertType = "all" }, null)</div></li>
    }
    
    <li @if (Model.ActiveController == "Search") { <text>class="nav-selected"</text> }><div><span><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>&nbsp @Html.ActionLink("Discover", "Index", "Search")</div></li> 
    
    @{
        if (Model.UserRole == "Administrator" || Model.UserRole == "Manager")
        {
            <li>
                <div class="menu-drop-down @if (Model.ActiveController == "Management") { <text>nav-selected</text> }"><span><i class="fa fa-suitcase a-fw" aria-hidden="true"></i></span>&nbsp Management</div>
                <ul class="nav-sub-menu @if (Model.ActiveController == "Management") { <text>nav-sub-menu-open</text> }">
                    <li>@Html.ActionLink("Calendars", "CalendarManagement", "Management")</li>
                </ul>
            </li>
        }
    }

    @{
        if (Model.UserRole == "Administrator")
        {
            <li>
                <div class="menu-drop-down @if (Model.ActiveController == "Admin") { <text>nav-selected</text> }"><span><i class="fa fa-cogs a-fw" aria-hidden="true"></i></span>&nbsp Admin</div>
                <ul class="nav-sub-menu @if (Model.ActiveController == "Admin") { <text>nav-sub-menu-open</text> }">
                    <li>@Html.ActionLink("Site", "Site", "Admin")</li>
                    <li>@Html.ActionLink("Users", "Users", "Admin")</li>
                </ul>
            </li>
        }
    }
</ul>

